.stationsNavPanel {
    background-color: #231F20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 17.5%;
}

.panelHeading {
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
    margin-right: 8%;
}

.panelHeadingContent {
    font-weight: 500;
    font-size: 90%;
    color: #AC9D9D;
}

.stationsOptions {
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    list-style: none;
}

.stationsOptionsContent {
    margin-top: 0;
    padding-left: 18%;
    padding-bottom: 4%;
    text-align: left;
    color: white;
    font-weight: 500;
    font-size: 100%;
    border-bottom: solid white;
    border-width: 0.5px;
}