.page {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Page 1*/
.nav-bar {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.links {
    display: flex;
    flex-direction: row;
    align-self: center;
}
a {
    background-color: white;
    color: blue;
    margin-right: 20px;
    padding: 10px;
    text-align: center;
}
.google-center {
    display: flex;
    flex-direction: column;
    align-self: center;
}
#google {
    text-align: center;
    font-size: 50px;
}
.search {
    display: flex;
    align-self: center;
}
.google-search {
    width: 600px;
    height: 50px;
    border: 1px solid;
    border-color: black;
    border-radius: 25px;
}
button {
    margin-left: 20px;
    padding: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    bottom: 5px;
}
p1 {
    color: darkslategray;
}

/*Page 2*/
.top-search-bar {
    border: 1px solid;
    border-color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.responses-center {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.responses {
    display: flex;
    flex-direction: column;
}
.info {
    border: 1px solid;
    border-color: black;
    margin: 30px;
    width: 600px;
    padding: 10px;
}
h3 {
    color: blue;
}
.bio {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid;
    border-color: black;
    background-color: gray;
    padding: 20px;
}
.self {
    width: 250px;
    height: auto;
    align-self: center;
}
h4 {
    color: darkslategray;
}
h5 {
    width: 600px;
    height: auto;
    border: 1px solid;
    border-color: black;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
}